.pdg{
padding:3%;
}
.pd2{
	padding-left:5%; 
}
.pg-r{
	padding-right: 5%;
}
.mg-l{
	margin-left: 20%;
}
.mg-tp{
	margin-top: 5%;
}
.pg-tp{
	padding-top:5%;
}
.pg-0{
	padding: 0%;
	margin: 0%;
}
h2 {
	color: #DDDCDF!important;
	border: .08em solid #DDDCDF!important;
	padding: 1% !important;
	margin-top: 10% !important;
	margin-left: 20%;
	margin-right:20%;
}
h3{
	color: #DDDCDF !important;
}

	
.bg-1{
	background-image: url("../images/slider1.jpg");
	height: 350px;
	background-size: contain;
	background-repeat: no-repeat;
}
.bg-2{
	background-image: url("../images/client-bg.jpg");
	height: 200px;
	background-size: cover;
	background-repeat: no-repeat;
}

.ig-2{
	padding: 50% 10%;
}
 del{color: #DDDCDF;
 }	
 span{
 	color: #E48080;
 }

 .ngo{
 	color:#60615E;
}
.fdo{
	margin-top: 40%;
	background: #60615E;
	color: white;
	border-radius: 10%;
	padding: 2%;
	font-size: 1.5em;
}

.fdo2{
	color: #60615E;
}
ul{
	list-style-type: none;
	padding-left: 0%;
	line-height: 2em;
}
.fdo3{
	background-color: #DDE2D2; 
}
.fdo4{
	background-color: #3F403D;
	color: #EFF3E6;
	font-size: .9em; 
	padding-top: 3%;
}
footer a{
	text-decoration: none;
	color: #E48080;
}
     
